.signHeader1 {
  color: #1AC488;
  text-align: center;
  font-size: 40px;
}

.signHeader2 {
  color: rgb(0, 3, 2);
  text-align: center;
}

.signInput, .signButton {
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  font-size: 18px;
  width: 22vw;
}
  
.signButton {
  background-color: #1AC488;
  font-weight: bold;
}

.body {
  height: 100vh;
}  

.signDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0 2px 2px 0 whitesmoke, 0 0 0 1px whitesmoke;
  background-color: rgba(245, 245, 245, 0.7);
}

.signForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginLabel {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.loginLabel:hover {
  text-decoration-line: underline;
}

#sniInput {
  width: 17.5vw;
  margin: 0px;
}

#sniDiv {
  width: 22vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#btnScan {
  width: 4vw;
  border-radius: 5px;
}